<?xml version="1.0" encoding="utf-8"?>
<dataConfig initialized="True">
  <connectionStrings>
    <add name="Sitefinity" connectionString="Data Source=myServerAddress;Initial Catalog=SitefinityEmptyProjectSample;Integrated Security=True;Connect Timeout=2;User Instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</dataConfig>