<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenAccess.Core" version="2013.3.1211.3" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Content" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Core" version="6.3.5000.0" targetFramework="net40" />
</packages>