<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="3.0.20820.0" targetFramework="net40" />
  <package id="AspNetMvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="CommonServiceLocator.Silverlight" version="1.0" targetFramework="net40" />
  <package id="CsvHelper" version="2.2.2" targetFramework="net40" />
  <package id="DirectShowLib-2005" version="2.1.0.0" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="linqtotwitterNET40" version="2.1.9.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Http" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NHamcrest" version="1.2.1" targetFramework="net40" />
  <package id="OpenAccess.CodeFirst" version="2013.3.1211.3" targetFramework="net40" />
  <package id="OpenAccess.Core" version="2013.3.1211.3" targetFramework="net40" />
  <package id="payflow_dotNET" version="4.3.1.0" targetFramework="net40" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net40" />
  <package id="Sitefinity.ServiceStack" version="3.9.56" targetFramework="net40" />
  <package id="Sitefinity.ServiceStack.Common" version="3.9.56" targetFramework="net40" />
  <package id="Sitefinity.ServiceStack.Text" version="3.9.56" targetFramework="net40" />
  <package id="Sitefinity.Windows.Azure" version="1.0" targetFramework="net40" />
  <package id="System.Windows" version="5.0.61118.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.All" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Analytics" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Connectivity" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Content" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Core" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.DAM" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Dashboard" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.DropboxLibraries" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Everlive" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.EverliveConnector" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.MarketoConnector" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Migration" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.MobileAppBuilder" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Mvc" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Octopus" version="2013.3.1211.3" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.PrecompiledTemplates" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Reporting.Controls" version="7.1.13.612" targetFramework="net40" />
  <package id="Telerik.Sitefinity.SalesForceConnector" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.ServicesImpl" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.SharepointConnector" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.TfisClient" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Thunder" version="6.3.5000.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Windows.Controls" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Web.UI" version="2013.3.1114.40" targetFramework="net40" />
  <package id="twitterizer" version="2.4.1" targetFramework="net40" />
</packages>