<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StyleCop.MSBuild" version="4.7.49.0" targetFramework="net40" developmentDependency="true" />
  <package id="Telerik.DataAccess.Core" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Content" version="8.0.5700.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Core" version="8.0.5700.0" targetFramework="net40" />
</packages>